.square label {
  display: block;
  width: 1em;
  height: 1em;
  margin: 0.2em;
  border-spacing: 1em;
  text-align: center;
  font-size: 1em;
  line-height: 1em;
}

.square input {
  display: none;
}

.square input:checked+label::before {
  content:"✓";
}

.square input:checked+label {
  box-shadow: 0 0 0 2px yellow, 0 0 0 3px black;
}

.text {
  padding-left: 1em;
  padding-right: 1em;
  background: red;
}

.pallette {
  display: flex;
  align-items: center;
  background: yellow;
}